!!! basic
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    meta(name="description", content="список сотрудников")
    meta(name="author", content="VSCraft")
    link(rel="shortcut icon", href="/pub/images/favicon.ico")
    title Список сотрудников предприятия

    link(href="/pub/css/bootstrap.min.css", rel="stylesheet")
    link(href="/pub/css/bootstrap-theme.min.css", rel="stylesheet")

    link(href="/pub/css/sticky-footer-navbar.css", rel="stylesheet")
    link(href="/pub/css/demo.css", rel="stylesheet")
    link(href="/pub/css/pickmeup.css", rel="stylesheet")


    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
