div#footer
  div.container
    p.text-muted.text-right
      a.small(href="mailto:sukhikh@moscollector.ru?subject=Не работает сервис Список сотрудников&body=По адресу http://ss") Если страница не работает, сообщите, куда следует &nbsp;&nbsp;&nbsp;
        span.glyphicon.glyphicon-envelope


script(src="/pub/scripts/js/jquery.min.js")
script(src="/pub/scripts/js/bootstrap.min.js")
script(src="/pub/scripts/js/jquery.pickmeup.js")
include inc_datepicker_js
